@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.home-banner {
  width: 100%;
  position: relative;
  z-index: 1;
  background: #2788FF;
  border-radius: 14px;
  color: #fff;
  padding: 32px 18px 32px 48px;
}
.home-banner__title {
  text-transform: uppercase;
  font-size: 96px;
  font-weight: 900;
  line-height: 100%;
}
.home-banner__image {
  position: absolute;
  right: 18px;
  bottom: 0;
  max-width: 379px;
  z-index: 1;
}
.home-banner__content {
  max-width: 778px;
  width: calc(100% - 300px);
}
.home-banner .box-text {
  font-size: 20px;
  font-weight: 300;
}

.name-company {
  margin: 0 0 22px;
  font-size: 24px;
  font-weight: 900;
}

.list-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
  margin: 0 0 20px;
}
.list-sorting li {
  margin: 0 16px 10px 0;
}
.list-sorting li:last-child {
  margin: 0 0 10px;
}
.list-sorting li a {
  padding: 14px 28px;
  color: #1A1C1E;
  border: 1px solid #2788FF;
}
.list-sorting li a:hover {
  background: #D1E6FF;
  color: #1A1C1E;
  border: 1px solid #2788FF;
}
.list-sorting li a.active {
  color: #fff;
  background: #2788FF;
}

.question-wrapper .question-box {
  display: none;
}
.question-wrapper .question-box:nth-child(-n+10) {
  display: block;
}

.question-box {
  width: 100%;
  margin: 0 0 16px;
  background: #fff;
  border-radius: 14px;
  padding: 24px 30px;
  font-size: 14px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.question-box:last-child {
  margin: 0;
}
.question-box:hover {
  -webkit-box-shadow: 0 0 10px rgba(26, 28, 30, 0.2);
          box-shadow: 0 0 10px rgba(26, 28, 30, 0.2);
}
.question-box__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.question-box__body {
  margin: 24px 0;
  width: 100%;
  font-size: 16px;
}
.question-box__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 140%;
}
.question-box__footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.question-box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #9DA9B6;
  font-size: 14px;
}
.question-box-info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 24px 0 0;
}
.question-box-info li:last-child {
  margin: 0;
}
.question-box-info .svg-icon {
  stroke: #9DA9B6;
  fill: none;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
}

.question-box-author {
  margin: 0 auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 820px;
}
.question-box-author__name {
  font-size: 16px;
}
.question-box-author__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  min-width: 48px;
  height: 48px;
  min-width: 48px;
  border-radius: 50%;
  overflow: hidden;
}
.question-box-author__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.question-box-author__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% - 48px);
  padding: 0 0 0 12px;
}
.question-box-author__blockquote {
  margin: 4px 0 0;
  color: #9DA9B6;
  width: 100%;
  font-size: 14px;
}

.rating-box {
  margin: 0 0 0 16px;
}

.rating-box__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1960E;
  font-size: 14px;
}
.rating-box__value .svg-icon {
  stroke: #F1960E;
  fill: none;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin: 0 4px 0 0;
}

.question-box-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 auto;
}
.question-box-status__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: none;
  stroke: #2788FF;
  width: 24px;
  height: 24px;
  margin: 0 8px 0 0;
}

.home-contacts .home-banner__image {
  max-width: 419px;
}

.contacts-box {
  margin: 0 0 32px;
}
.contacts-box:last-child {
  margin: 0;
}
.contacts-box p {
  color: #9DA9B6;
}
.contacts-box a {
  color: #1A1C1E;
  font-size: 64px;
  font-weight: bold;
}
.contacts-box a:hover {
  color: #2788FF;
}

.question-box-home .question-box-status {
  margin: 0 auto 0 40px;
}
.question-box-home .question-box__title {
  font-size: 30px;
}

.answer-box .question-box__footer .question-box-status {
  margin: 0 auto 0 40px;
}
.answer-box .question-box-author {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.answer-box-static {
  border: 1px solid #2788FF;
}

.agree-wrapper {
  margin: 16px 0 0;
  border: 1px solid #2788FF;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.agree-wrapper__val {
  margin: 0 8px;
  color: #9DA9B6;
  font-size: 14px;
}

.link-specialists-like {
  font-size: 16px;
}

.agree-wrapper__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.agree-wrapper__list li {
  margin: 0 -8px 0 0;
}
.agree-wrapper__list li:last-child {
  margin: 0;
}

.agree-wrapper-item {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.agree-wrapper-item__photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}
.agree-wrapper-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blockquote-answer {
  padding: 24px;
  margin: 0 0 24px;
  background: #F4F7FC;
  border-radius: 14px;
}

.my-answer-format {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14px;
}
.my-answer-format p {
  color: #9DA9B6;
}

.list-formats {
  margin: 0 0 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-formats li {
  margin: 0 16px 0 0;
}
.list-formats li:last-child {
  margin: 0;
}
.list-formats li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  stroke: #1A1C1E;
  fill: none;
}

.form-answer button {
  margin: 0 0 0 auto;
}