/*==========	Desktop First	==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .home-banner__title {
    font-size: 86px;
  }
  .nav-menu {
    margin: 0 auto;
  }
  .menu li {
    margin: 0 20px 0 0;
  }
}
@media only screen and (max-width: 992px) {
  header .nav-menu {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 280px;
    width: 100%;
    z-index: 5;
    background: #F4F7FC;
    padding: 30px 20px;
  }
  header .btn {
    padding: 14px 20px;
    font-size: 14px;
  }
  header .menu li {
    width: 100%;
    margin: 0 0 10px;
  }
  .nav-menu__close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btn-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logo {
    margin: 0 auto 0 0;
  }
  .home-banner__title {
    font-size: 64px;
  }
  .home-banner__image {
    max-width: 310px;
  }
  footer .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .mail {
    margin: 0 20px 0 auto;
  }
}
@media only screen and (max-width: 768px) {
  .home-banner__title {
    font-size: 50px;
  }
  .home-banner__image {
    max-width: 250px;
  }
  .home-banner__content {
    max-width: none;
    width: calc(100% - 220px);
  }
  .home-banner {
    padding: 20px 30px;
  }
  .home-banner .box-text {
    font-size: 16px;
  }
  .name-company {
    font-size: 20px;
    margin: 0 0 20px;
  }
  .mail {
    margin: 0 20px 0 0;
  }
  footer .logo {
    margin: 0 0 20px;
  }
}
@media only screen and (max-width: 576px) {
  .home-banner__content {
    max-width: none;
    width: 100%;
    text-align: center;
  }
  .home-banner {
    padding: 20px 20px 0;
  }
  .home-banner__image {
    position: relative;
    margin: 20px auto 0;
    top: 0;
    max-width: 300px;
    right: 0;
  }
  .home-banner__title {
    font-size: 40px;
  }
  .logo-name {
    font-size: 22px;
  }
  .logo-name::before {
    width: 19px;
    height: 13px;
  }
  .logo-description {
    font-size: 11px;
    max-width: 112px;
  }
  header .btn {
    padding: 10px 16px;
    font-size: 12px;
  }
  .btn-icon {
    width: 20px;
    height: 20px;
    min-width: 20px;
    margin: 0 4px 0 0;
  }
  h2, h1 {
    font-size: 30px;
    margin: 0 0 20px;
  }
  .question-box {
    padding: 20px;
  }
  .question-box__title {
    font-size: 16px;
  }
  .btn {
    padding: 10px 16px;
    height: auto;
    border-radius: 10px;
  }
  .list-sorting {
    margin: 0 0 20px;
  }
  .list-sorting li {
    margin: 0 7px 7px 0;
  }
  .list-sorting li:last-child {
    margin: 0 0 7px;
  }
  .list-sorting li a {
    padding: 10px 16px;
  }
  footer {
    margin: 40px 0 0;
  }
  .footer-top, .footer-bottom {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 480px) {
  header .btn {
    display: none;
  }
  .btn-burder {
    margin: 0;
  }
  .nav-menu .btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-banner__title {
    font-size: 30px;
  }
  .home-banner__image {
    max-width: 250px;
  }
  .question-box__head .question-box-info {
    width: 100%;
    margin: 10px 0 0;
  }
  footer .menu li {
    margin: 0 0 10px;
    width: 100%;
  }
  .mail {
    margin: 0 0 10px;
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .tooltip-box {
    padding: 10px;
    font-size: 12px;
    min-width: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  .tooltip-box::before {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}