@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #F4F7FC;
  color: #1A1C1E;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 14px;
  width: 100%;
  height: 54px;
  background: #fff;
  color: #1A1C1E;
  font-size: 14px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #9DA9B6;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #9DA9B6;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #9DA9B6;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #9DA9B6;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #9DA9B6;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 16px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 15px;
  height: 163px;
}
textarea:disabled {
  text-align: center;
  padding: 70px 15px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 14px;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 14px 28px;
  font-size: 14px;
  height: 48px;
  border-radius: 14px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.btn-md {
  height: 53px;
  padding: 14px 28px;
  font-size: 16px;
}

.btn-accent {
  background: #2788FF;
  color: #fff;
}
.btn-accent .btn-icon {
  fill: #fff;
}
.btn-accent:hover {
  background: #1172EA;
  color: #fff;
}
.btn-accent:hover .btn-icon {
  fill: #fff;
}
.btn-accent:disabled {
  background: #E9EFF5;
  color: #9DA9B6;
}

.btn-border-accent {
  border: 1px solid #2788FF;
  background: transparent;
  color: #1A1C1E;
}
.btn-border-accent:hover {
  border: 1px solid #2788FF;
  background: #D1E6FF;
  color: #1A1C1E;
}

.btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px 0 0;
  width: 24px;
  height: 24px;
  min-width: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.box-text {
  line-height: 140%;
}

.color-accent {
  color: #2788FF;
}

a.color-accent {
  color: #2788FF;
}
a.color-accent:hover {
  color: #1172EA;
}

.color-grey {
  color: #9DA9B6;
}

a.color-grey {
  color: #9DA9B6;
}
a.color-grey:hover {
  color: #2788FF;
}

.d-inline {
  display: inline;
}

.border-dashed {
  border-bottom: 1px dashed #2788FF;
  padding: 0 0 2px;
}

.container {
  max-width: 1170px;
}

h2, h1 {
  width: 100%;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.btn-load {
  margin: 24px auto 0;
}

.tooltip-wrapper {
  position: relative;
}
.tooltip-wrapper:hover .tooltip-box {
  display: block;
}

.tooltip-box {
  position: absolute;
  min-width: 226px;
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 14px;
  z-index: 2;
  background: #1A1C1E;
  color: #fff;
  margin: 0 0 11px;
  left: -4px;
  bottom: 100%;
  display: none;
  white-space: nowrap;
}
.tooltip-box::before {
  content: "";
  position: absolute;
  left: 24px;
  bottom: -9px;
  background: url("../img/tooltip-figure.svg") no-repeat center;
  background-size: 100%;
  width: 23px;
  height: 18px;
}

.scroll-vertical {
  overflow-y: auto;
  max-height: 744px;
  padding: 0 47px 0 0;
}
.scroll-vertical::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 8px;
}
.scroll-vertical::-webkit-scrollbar-track {
  background-color: #2788FF;
  border-radius: 8px;
}
.scroll-vertical::-webkit-scrollbar-track-piece {
  background-color: #F4F7FC;
  border-radius: 8px;
}
.scroll-vertical::-webkit-scrollbar-thumb {
  background-color: #2788FF;
  border-radius: 8px;
}
.scroll-vertical::-webkit-scrollbar-corner {
  background-color: #F4F7FC;
  border-radius: 8px;
}
.scroll-vertical::-webkit-resizer {
  background-color: #2788FF;
  border-radius: 8px;
}

.link-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}
.link-page__icon {
  fill: none;
  stroke: #2788FF;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 8px 0 0;
}
.link-page:hover .link-page__icon {
  stroke: #1172EA;
}

.vote-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9DA9B6;
  font-size: 14px;
}
.vote-item .svg-icon {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 8px 0 0;
}

.like-item:hover {
  color: #2788FF;
}
.like-item:hover .svg-icon {
  stroke: #2788FF;
}

.dislike-item:hover {
  color: #E63821;
}
.dislike-item:hover .svg-icon {
  stroke: #E63821;
}