@import "fonts"
@import "vars"

// footer	
footer
	margin: 80px 0 0	
	.nav-menu
		margin: 24px 0
	.box-text
		font-size: 14px
		color: #9DA9B6
	.btn
		font-size: 16px
		padding: 14px 28px
		height: 53px

.footer-top
	padding: 24px 0

.mail
	font-size: 16px
	margin: 0 35px 0 auto		
	color: #1A1C1E
	&:hover
		color: $accent	

.footer-bottom
	font-size: 14px
	border-top: 1px solid #BBCADA
	padding: 24px 0
	color: #9DA9B6
		
.copyright
	margin: 0 auto 0 0
// footer end	
